.container {
    max-width: 1200px;
}
p {
    margin-bottom: 0px !important;
}
h2 {
    margin-bottom: 0px !important;
}
ul {
    margin-bottom: 0px !important;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}