.section-footer {
    margin-top: 50px;
    border-top: 2px solid #F3D66E;
    position: relative;
    background: url("../image/global-map.png") center top/660px 328px no-repeat #FEF9E6;
    width: 100%;
    padding-bottom: 20px; }
.section-footer .item-footer-category {
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px; }
.section-footer .item-footer-category ul {
    height: 130px;
    margin-top: 10px;
    padding: 0px; }
.section-footer .item-footer-category ul li {
    list-style-type: none; }
.section-footer .item-footer-category ul li .bold-category-footer {
    font-family: Merriweather;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold; }
.section-footer .item-footer-category ul li a {
    color: #000;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    font-size: 11px; }
.section-footer .item-footer-category ul li a:hover {
    text-decoration: none;
    color: #DA0000;
    border-bottom: 1px solid #DA0000; }
.section-footer .line-left-footer {
    border-right: 2px solid #F3D66E;
    height: 3px;
    width: 100%; }
.section-footer .line-left-footer h2 {
    margin-top: 15px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
    vertical-align: top; }
.section-footer .line-left-footer p, .section-footer .line-left-footer a {
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #000000; }
.section-footer .line-left-footer .ads-guest-post {
    margin-top: 20px; }
.section-footer .line-left-footer .ads-guest-post .ads-contact-footer {
    padding: 5px 10px;
    background: #D9D9D9;
    border-radius: 2px;
    margin-right: 20px; }
.section-footer .line-left-footer .ads-guest-post .ads-contact-footer:hover {
    text-decoration: none; }
.section-footer .line-left-footer .ads-guest-post .guest-post-contact-footer {
    padding: 5px 10px;
    background: #DA0000;
    border-radius: 2px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF; }
.section-footer .line-left-footer .ads-guest-post .guest-post-contact-footer:hover {
    text-decoration: none;
    background: rgba(255, 30, 33, 0.56); }
.section-footer .line-left-footer .qr-code img {
    width: auto;
    float: left;
    margin-right: 20px; }
.section-footer .line-left-footer .qr-code p {
    padding-top: 20px; }
.section-footer .footer-end {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 2px solid #F3D66E; }
.section-footer .footer-end .logo-footer {
    display: flex; }
.section-footer .footer-end .logo-footer img {
    width: auto;
    border-right: 1px solid #7C7C7C;
    margin-right: 5px; }
.section-footer .footer-end .logo-footer p {
    font-family: Merriweather;
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px; }
.section-footer .footer-end .logo-footer p a {
    color: #FF0000; }
.section-footer .footer-end .logo-footer p a:hover {
    text-decoration: none; }
.section-footer .footer-end .terms-of-service-footer {
    height: 100%;
    display: flex;
    align-items: end; }
.section-footer .footer-end .terms-of-service-footer .terms-of-service {
    margin-left: auto; }
.section-footer .footer-end .terms-of-service-footer .terms-of-service p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    color: #000000; }
.section-footer .footer-end .text-info-footer {
    font-family: Arial;
    display: inline-table;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000; }


.batdongsan .children {
    font-size: 16px;
    color: #038;
    line-height: 32px;
    height: 32px;
    margin: -30px 3px 0;
}
.batdongsan h4 {
    float: none;
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
}
.CateBoxRight-Batdongsan-Second{
    border-bottom: 1px solid #E5E5E5;
    display:inline-block;
    vertical-align:top;
    padding: 5px 0px;
}
.CateBoxRight-Batdongsan-Second:nth-child(1){
    padding-top:0;
}
.CateBoxRight-Batdongsan-Second:nth-child(3){
    border:none;
}
.CateBoxBatdongsan-Second{
    display:inline-block;
    vertical-align:top;
    width: 30% !important;
    padding-right: 5%;
}

.CateBoxBatdongsan-Second:nth-child(3n){
    /* border-left: 1px solid #dbdbdb; */
    /* padding-left: 1% !important; */
    padding-right: 0% !important;
    width: 30% !important;
    float: right;
}

.caption_title_line h2 {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
.caption_title_line h2 a {
    color: #000;
}.caption_title_line h2 a:hover {
     color: #be0000;
    text-decoration: none;
}
.VideoBoxStyle1 .header {
    color: #d50000;
    padding: 5px 0 2px;
    text-align: left;
    margin-bottom: 5px;
}
.header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #9f224e;
    color: #9f224e;
    font-size: 13px;
    font-weight: 300;
    width: 270px;
    line-height: 18px;
    margin-bottom: 8px;
    padding-right: 2px;
}
.header a {
    padding: 5px 0px;
    color: #000;
    width: 100%;
    display: inline-block;
    position: relative;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding-left: 5px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}
.header a:hover {
    text-decoration: none;
    color: #000;
}
.VideoBoxHot .backgroundimg{
    background: #f4f4f4 !important;
    width: 100%;
    height: 125px;
    object-fit: cover;
}
.text-content-sapo-right a {
    color: #000;
}
.text-content-sapo-right a:hover {
    color: #9f224e;
    text-decoration: none;
}
.cut-text-three {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.VnnBoxFirstSaPo img {
    width: 100%;
    height: 125px;
    background: #f4f4f4 !important;
    object-fit: cover;
}
/*.flex {*/
/*    display: flex;*/
/*}*/
/*.img-right-diaphuong {*/
/*    width: 120px;*/
/*    height: 70px;*/
/*    object-fit: cover;*/
/*}*/
